/* src/index.css */
@import "tailwindcss";

* {
  font-family: 'Poppins', sans-serif;
}

body {
  top: 0 !important;
  position: static !important;
  min-height: 100vh;
}

.goog-te-banner-frame.skiptranslate,
.goog-te-banner-frame,
iframe.skiptranslate,
iframe[id^=":"][id$=".container"],
body > .skiptranslate {
    display: none !important;
    visibility: hidden !important;
    height: 0 !important;
    width: 0 !important;
    opacity: 0 !important;
    pointer-events: none !important;
    position: absolute !important;
    z-index: -1000 !important;
}

#goog-gt-tt, 
.goog-te-balloon-frame, 
.goog-tooltip, 
.goog-te-hover-frame,
.goog-text-highlight {
    display: none !important;
    visibility: hidden !important;
    box-shadow: none !important;
    box-sizing: content-box !important;
    background: transparent !important;
}

#google_translate_element,
.goog-te-gadget-icon,
.goog-te-gadget-simple {
    display: none !important;
}

.goog-te-gadget {
    color: transparent !important;
    font-size: 0 !important;
}

font {
  background-color: transparent !important;
  box-shadow: none !important;
  box-sizing: content-box;
}