/* src/index.css */
@import "tailwindcss";

* {
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  top: 0 !important; 
  position: static !important; 
}


.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

.goog-te-gadget-icon {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
}

#goog-gt-tt, 
.goog-te-balloon-frame, 
.goog-tooltip, 
.goog-te-hover-frame {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    width: 0 !important;
    height: 0 !important;
    pointer-events: none !important;
}

.goog-text-highlight {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
}

iframe[class*="goog-te-banner"],
iframe[id*=":1.container"] {
    display: none !important;
    visibility: hidden !important;
}

font {
  background-color: transparent !important;
  box-shadow: none !important;
  box-sizing: content-box;
}